:root {

    --color-principal: #D9C089;
    --color-secundario: #E3E3E3;
    --color-border-card: #ffda8a;

}

body {

    margin: 0;
    padding: 0;
    min-width: 320px;
}

* {
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Solway", serif;
    font-weight: 700;
    font-style: normal;
}

p,
a,
li {
    font-family: "Funnel Display", sans-serif;
}

main {

    padding-top: 4.8rem;
}



#inicio,
#aboutMe,
#miLabor,
#contacto {
    scroll-margin-top: 4.8rem;
    /* lo que mida tu nav fijo */
}


/*==============================HEADER=============================================*/

.cont-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.223);
    box-shadow: 0 1px 1px rgb(187, 187, 187);
    background-color: #ffffff;
    z-index: 999;
}






.cont-header img {

    width: 200px;
    height: auto;
    padding: 1rem;

}

.cont-header ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.menuList {

    position: absolute;
    top: 0;
    height: 100vh;
    /* justo debajo del header real */
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);


}




.menuList li {

    border-bottom: 1px solid #9a9a9a;
    font-size: 1.4rem;
    padding: 1rem 0 0 1.5rem;
}

.menuList li a {

    text-decoration: none;
    color: black;
}



#listMenu.ocultoMenu {
    display: none;
}

.nav-fijo {
    position: fixed;
    top: 0;
    width: 100%;
}

#listMenu .contLi {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    padding-right: 1rem;

}




.contLi img {

    width: 200px;

}



.btn-hamburger {
    padding-right: 1rem;
}

.btn-hamburger button,
#listMenu li button {

    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

/*===========================MAIN================================================*/
.bg-hero {
    position: relative;
    background-image: url(../media/img/dibujo2.jpg);
    background-position: center;
    min-height: 90vh;
    background-size: cover;
    z-index: 0;


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.bg-hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: -1;


}




.cont-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 2rem;



}





.cont-hero h1 {
    margin: 0;
    color: var(--color-principal);
    font-size: 3rem;
    text-align: center;

}


.cont-hero p {

    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: var(--color-secundario);

}

.cont-hero a {

    color: black;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 0.5rem;
    background-color: var(--color-principal);
    border-radius: 0.4rem;
}

/*===========================Sobre mi===============================================*/
.styleH2 {
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.cont-AboutMe {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.399);

    border: 1px solid gray;
}



.cont-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cont-text img {

    width: 200px;
    border-radius: 50%;
    margin: 2rem 0;
}

.cont-text h3 {

    font-size: 1.4rem;
    border-bottom: 1px solid var(--color-principal);
    margin: 0;



}

.cont-text p {
    margin: 0;
    line-height: 1.7;
    width: 80%;
    margin: auto;
    text-align: center;

}

/*===========================MI LABOR===============================================*/
.card1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;


    margin-bottom: 2rem;


}

.card1 img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    width: 100%;
    height: auto;
}

.card-text {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: none !important;
    border: 1px solid var(--color-principal);


}

.card-text {

    background-color: #efefef4f;
}

.card-text h4 {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.3rem;
}

.card-text p {

    line-height: 1.6;
    margin: auto;
    width: 90%;
    text-align: center;
    padding-bottom: 1.3rem;
}

/*===========================Contacto===============================================*/

.cont-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: rgba(238, 238, 238, 0.433);

}

.cont-contacto h4 {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    margin: 0;
    border-bottom: 1px solid #f1b127 ;
}

.cont-contacto p a {
    text-decoration:none;
    color: #000000;

}

.cont-contacto p i {

    color: rgb(6, 129, 0);
    font-size: 1.8rem;
}

.cont-contacto p {

    margin-bottom: 2rem;
    font-size: 1.1rem;
}

/*===========================Footer===============================================*/
.cont-footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1.5rem;
    padding: 1rem 0;
    background-color: #171717;

    border: 1px solid;


}

.cont-footer p, a {

    margin: 0;
    color: #dddddd;
    
}



.cont-footer img {

    width: 100px;


}
